@import "node_modules/foundation-sites/scss/foundation";

@include foundation-global-styles;
@include foundation-grid;

header{
    background-color: orangered;
}


#cars{
    display: flex;
    flex-direction: row;

    div {
        width: 50%;
    }

    img {
        height: 250px;
        display:block;        
    }
    
}

#difficulty {
margin: 5% 5%;
padding: 5%;    
}

.inputButt{
margin:30%;
}

.hidden{
    display: none;
}

#grid{
    background-color: gray;
    display: block;
    width: 400px;
    margin: auto;
}


.cells{
    border: 1px solid black;
    @include grid-column(1);
    height: 100%;
    margin: 0;
    padding: 0;
}

.rows{
    @include grid-row(10);
    height: 35px;
}

#buttons{
    @include grid-column(2);
        margin: auto;
        display: block;

}
#buttons button{
@include grid-row(6);
margin: auto;
background-color: indianred;
border: 2px solid black;      

}