@import "node_modules/foundation-sites/scss/foundation";

@include foundation-global-styles;
@include foundation-grid;

#cars{
    display: flex;
    flex-direction: row;

    div {
        width: 50%;
    }

    img {
        height: 250px;
        display:block;        
    }
    
}

#difficulty {
margin: 15% 15%;

}

.hidden{
    display: none;
}